<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<connectionStrings>
		<add name="cnstr_57kmt" connectionString="Server=127.0.0.1;Database=57kmt;User Id=sa;Password=123" providerName="sql"/>
	</connectionStrings>

	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	
</configuration>